html,body {
    height: 100%;
}

.page-header{
    background: aliceblue;  
}

.page-footer{
    background: lightgray;
}

.splitpanes__pane{
   overflow: auto;
   padding: 3px;
}

.blink {
    background: dodgerblue;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    z-index: 999;
    margin-bottom: 5px;
}

.user_group {
    padding: 2px;
    background-color: #f6fdf6;
    border: 1px solid #17a2b8;
    margin-bottom: 4px;
}

.form-group {
    margin-bottom: 0rem;
}

.show-text {
    font-weight: bold;
}

pre.console {
    background: black;
    color: white;
}

.activePage {
    font-weight: bold;
}