html,body {
    height: 100%;
}

.page-header{
    background: aliceblue;  
}

.page-footer{
    background: lightgray;
}

.splitpanes__pane{
   overflow: auto;
   padding: 3px;
}

.blink {
    background: dodgerblue;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    z-index: 999;
}