html,body {
    height: 100%;
}

.page-header{
    background: aliceblue;  
}

.page-footer{
    background: lightgray;
}

.splitpanes__pane{
   overflow: auto;
   padding: 3px;
}

.blink {
    background: dodgerblue;
}